@tailwind base;
@tailwind components;

h1{
  @apply text-3xl font-bold pt-16;
}

h2{
  @apply text-lg font-semibold pb-2 pt-4;
}

p{
  @apply py-2;
}

b {
  @apply text-terros;
}

.link {
  @apply underline;
  @apply text-terros-clar;
  @apply hover:text-terros;
}

.transition-max-height {
    transition: max-height 0.7s ease-in-out;
}


.checkmark {
    @apply text-terros-clar;
    font-family: Arial, sans-serif; /* Usa una fuente que garantice tratar el carácter como texto */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" 0; /* Desactiva ligaduras que podrían alterar la representación */
}



@tailwind utilities;