---
layout: en/default
lang: en
permalink: /en/contact/
title: "Contact"
metadescription: "Different ways of contact: by phone, WhatsApp, or email."
---
<div class="flex flex-wrap">
    <div class="bg-[url('/assets/images/contacta.webp')] w-full h-80 bg-cover bg-top flex justify-center items-center">
        <div class="text-white text-4xl font-bold text-center">
             <h1 class="font-quicksand text-3xl text-gray-800 sm:text-5xl font-semibold text-center">Contact</h1>
        </div>
    </div>
</div>

<div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
    {% include contact-cards.html %}
    <div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
            {% include /en/contact-form.html %}
    </div>
</div>
