---
layout: default
permalink: /contacta/
title: "Contacta"

---

<div class="flex flex-wrap">
    <div class="bg-[url('/assets/images/contacta.jpg')] w-full h-80 bg-cover bg-top flex justify-center items-center">
        <div class="text-white text-4xl font-bold text-center">
             <h1 class="font-quicksand text-3xl text-gray-800 sm:text-5xl font-semibold text-center">Contacta</h1>
        </div>
    </div>
</div>


<div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
    <div class="flex flex-wrap justify-center items-start">
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-4 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                <div class="aspect-square flex justify-center items-center">
                    {% include svg/mail.md %}
                </div>
            </div>
            <div class="pt-2 font-bold w-full text-center">Email</div>
            <div class="w-full text-center">psicologia@bertasanfeliu.com</div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                <div class="w-full aspect-square flex justify-center items-center">
                    {% include svg/phone.md %}
                </div>
            </div>
            <div class="pt-2  font-bold w-full text-center">Teléfono</div>
            <div class="w-full text-center">(+34) 649 80 69 62</div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg  justify-center items-center flex">
                {% include svg/whatsapp.md %}
            </div>
            <div class="pt-2 font-bold w-full text-center">WhatsApp</div>
            <div class="w-full text-center">(+34) 649 80 69 62</div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                {% include svg/pin.md %}
            </div>
            <div class="pt-2 font-bold w-full text-center">Ubicaciones</div>
            <div class="w-full text-center">Plaça de Gal·la Placídia, 10</div>
            <div class="w-full text-center">c/ Rosselló, 17</div>
        </div>
    </div>
    <div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
            {% include contact_form.html %}
    </div>
</div>

