<footer class="bg-gray-900 py-20">
  <div class="px-10 lg:px-48 xxl:px-64 text-white flex flex-wrap justify-evenly">
    <ul class="text-left w-full sm:w-2/4">
      <li class="text-xl font-bold sm:text-left text-center">Berta Sanfeliu</li>
      <li>Psicóloga</li>
    </ul>

     <ul class="text-center w-full pt-4 sm:pt-0 sm:w-1/4">
      <li class="text-xl font-bold">Proyectos</li>
      <li><a href="#">A</a></li>
      <li><a href="#">B</a></li>
    </ul>

     <ul class="text-center w-full pt-4 sm:pt-0 sm:w-1/4">
      <li class="text-xl font-bold">Contacta</li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </div>

</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>