<header>
  <nav class="items-center bg-gray-100 shadow py-2 fixed right-0 left-0 z-40" style="background-color: rgba(249, 250, 251, 0.9);">
    <div class="px-10 lg:px-48 xxl:px-64 flex justify-between items-center">
      <!-- Left -->
      <div class="flex items-center">
        <div class="text-gray-700 flex flex-col">
          <a href="/" class="font-bold text-2xl">Berta Sanfeliu</a>
          <a href="/" class="font-bold text-xs">Psicóloga y psicoterapeuta</a>
        </div>
      </div>

      <!-- Navigation Links -->
      <div id="nav-menu" class="hidden sm:flex flex-grow justify-center items-center text-gray-700">
        <a class="block text-center py-2 sm:px-4" href="/">Home</a>
        <a class="block text-center py-2 sm:px-4" href="/sobre-mi">Sobre mí</a>
        <a class="block text-center py-2 sm:px-4" href="/servicios">Servicios</a>
        <a class="block text-center py-2 sm:px-4" href="/informacion-util">Información útil</a>
        <a class="block text-center py-2 sm:px-4" href="/contacta/">Contacta</a>
      </div>

      <!-- Right -->
      <div class="flex items-center">
        <!-- Language Selector -->
        {% include language-selector.html lang="es" class="hidden sm:block ml-4 text-center bg-gray-300 font-bold text-white text-xs sm:py-1 sm:px-1 rounded" %}

        <!-- Hamburger -->
        <div class="sm:hidden ml-2">
          <button type="button" class="text-gray-700" id="nav-toggle">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path id="hamburger" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
              <path id="cross" fill-rule="evenodd" class="hidden" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    
    <!-- Mobile Menu -->
    <div id="nav-menu-mobile" class="hidden sm:hidden flex flex-col text-gray-700 items-center">
      <a class="block text-center py-2" href="/">Home</a>
      <a class="block text-center py-2" href="/sobre-mi">Sobre mí</a>
      <a class="block text-center py-2" href="/servicios">Servicios</a>
      <a class="block text-center py-2" href="/informacion-util">Información útil</a>
      <a class="block text-center py-2" href="/contacta/">Contacta</a>
      {% include language-selector.html lang="es" class="py-1 px-1 my-4 text-center bg-gray-300 font-bold text-white text-xs rounded" %}
    </div>
  </nav>
</header>


