<header>
      <nav class="bg-teal-200 shadow py-2 fixed right-0 left-0 z-40">
        <div class="px-10 lg:px-48 xxl:px-64 sm:flex sm:flex-wrap sm:bg-teal-200 sm:justify-between sm:items-center">
          <div class="">
            <div class="flex flex-wrap justify-between items-center">
              <!-- Left -->
              <div class="text-gray-700 flex flex-wrap w-64">
                <!-- <a class="text-2xl font-semibold" href="/">MMZ</a> -->
                <a href="/" class="font-bold text-2xl">Berta Sanfeliu</a>
                <a href="/" class="font-bold text-xs">Clinical & Counselling Psychology</a>
              </div>

              <!-- Hamburguer -->
              <div class="sm:hidden">
                <button type="button" class="text-gray-700" id="nav-toggle">
                  <svg class="h-6 w-6 fill-current text-{{include.primary-color}}" viewBox="0 0 24 24">
                    <path id="hamburger" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                    <path id="cross" fill-rule="evenodd" class="hidden" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
                  </svg>
                </button>
              </div>

            </div>
          </div>
          
          <div id="nav-menu" class="hidden sm:block sm:w-auto sm:flex sm:flex-wrap sm:bg-teal-200 text-gray-700">
            <a class="block text-center py-2 sm:px-4" href="/">Home</a>
            <a class="block text-center py-2 sm:px-4" href="/">Services</a>
            <a class="block text-center py-2 sm:px-4" href="/">About me</a>
            <a class="block text-center py-2 sm:px-4" href="/">Blog</a>
            <a class="block text-center font-semibold py-2 sm:px-4" href="/contact  /">Book a free consultation</a>
            <a class="block text-center py-2 sm:px-4" href="//">FAQ</a>
          </div>
        </div>
      </nav>

      <div class="relative flex items-center justify-center  mb-12 overflow-hidden h-screen">
       <!-- Header stuff, muestra de voz etc-->
      <div class="relative pt-32 pb-20 text-center relative z-30 p-5 text-2xl text-white">
        <h1 class=" text-3xl sm:text-5xl font-semibold text-center">Berta Sanfeliu</h1>
        <h2 class="sm:text-xl text-center">Clinical & Counselling Psychology</h2>
      </div>

      <video autoplay muted loop class="absolute z-10 w-auto min-w-full min-h-full max-w-none" id="myVideo">
        <source src="/assets/video/home.mp4" type="video/mp4">
      </video>
    </div>
     

    </header>