---
layout: ca/default
permalink: /ca/contacta/
title: "Contacta"
metadescription: "Diferents formes de contacte: via telefònica, WhatsApp o correu electrònic."
---
<div class="flex flex-wrap">
    <div class="bg-[url('/assets/images/contacta.webp')] w-full h-80 bg-cover bg-top flex justify-center items-center">
        <div class="text-white text-4xl font-bold text-center">
             <h1 class="font-quicksand text-3xl text-gray-800 sm:text-5xl font-semibold text-center">Contacta</h1>
        </div>
    </div>
</div>

<div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
    <div class="flex flex-wrap justify-center items-start">
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-4 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                <div class="aspect-square flex justify-center items-center">
                    {% include svg/mail.md %}
                </div>
            </div>
            <div class="pt-2 font-bold w-full text-center">Email</div>
            <div class="w-full hover:underline text-center"><a target="_blank" href="mailto:psicologia@bertasanfeliu.com">psicologia@bertasanfeliu.com</a></div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                <div class="w-full aspect-square flex justify-center items-center">
                    {% include svg/phone.md %}
                </div>
            </div>
            <div class="pt-2  font-bold w-full text-center">Telèfon</div>
            <div class="w-full hover:underline text-center"><a target="_blank" href="tel:+34649806962">(+34) 649 80 69 62</a></div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg  justify-center items-center flex">
                {% include svg/whatsapp.md %}
            </div>
            <div class="pt-2 font-bold w-full text-center">WhatsApp</div>
            <div class="w-full hover:underline text-center"><a target="_blank" href="https://api.whatsapp.com/send?phone=34649806962&text=Hola%21%20M%27interessaria%20rebre%20informaci%C3%B3%20sobre%20les%20visites%20de%20psicologia%2C%20si%20us%20plau.">(+34) 649 80 69 62</a></div>
        </div>
        <div class="justify-center flex flex-wrap w-full sm:w-1/4 pt-8 sm:pt-0">
            <div class="w-20 h-20 rounded-lg justify-center items-center flex">
                {% include svg/pin.md %}
            </div>
            <div class="pt-2 font-bold w-full text-center">Ubicacions</div>
            <div class="w-full text-center">Plaça de Gal·la Placídia, 10</div>
            <div class="w-full text-center">c/ Rosselló, 17</div>
        </div>
    </div>
    <div class="px-4 sm:px-8 lg:px-24 xl:px-48 2xl:px-64 bg-planta-light py-6 sm:py-12">
            {% include /ca/contact-form.html %}
    </div>
</div>