<footer class="bg-gray-100 py-20">
  <div class="px-10 lg:px-48 xxl:px-64 text-gray-700 flex flex-wrap justify-between items-center">
    <ul class="text-left">
      <li class="text-xl">Berta Sanfeliu</li>
      <li>Psicòloga i psicoterapeuta</li>
    </ul>
    <div class="hidden sm:inline-flex text-xs flex flex-wrap">
        Idioma: 
        <div class="link px-1"><a href="/">ES</a></div>
        <div class="link"><a href="/en">EN</a></div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ site.baseurl}}/js/init.js"></script>