<header>
  <nav class="bg-gray-100 shadow py-2 fixed right-0 left-0 z-40" style="background-color: rgba(249, 250, 251, 0.9);">
    <div class="px-10 lg:px-48 xxl:px-64 sm:flex sm:flex-wrap sm:justify-between sm:items-center">
      <div class="">
        <div class="flex flex-wrap justify-between items-center">
          <!-- Left -->
          <div class="text-gray-700 flex flex-wrap w-64">
            <a href="/ca" class="font-bold text-2xl">Berta Sanfeliu</a>
            <a href="/ca" class="font-bold text-xs">Psicòloga i psicoterapeuta</a>
          </div>

          <!-- Hamburguer -->
          <div class="sm:hidden">
            <button type="button" class="text-gray-700" id="nav-toggle">
              <svg class="h-6 w-6 fill-current text-{{include.primary-color}}" viewBox="0 0 24 24">
                <path id="hamburger" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                <path id="cross" fill-rule="evenodd" class="hidden" d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      
      <div id="nav-menu" class="hidden sm:block sm:w-auto sm:flex sm:flex-wrap text-gray-700">
        <a class="block text-center py-2 sm:px-4" href="/ca/">Home</a>
        <a class="block text-center py-2 sm:px-4" href="/ca/sobre-mi">Sobre mi</a>
        <a class="block text-center py-2 sm:px-4" href="/ca/serveis">Serveis</a>
        <a class="block text-center py-2 sm:px-4" href="/ca/informacio-util">Informació útil</a>
        <a class="block text-center py-2 sm:px-4" href="/ca/contacta/">Contacta</a>
      </div>

 
    </div>
    
  </nav> 
</header>